html{
    overflow: hidden;
    height: 100%;    
}

body {
    overflow: auto;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}

/* Event Box */
div#evt-box {
    position: fixed;
    text-align: left;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Head */
div#head {
    display: inline-block;
    width: 100%;
    height: 10vh;
}

div#head h1 {
    display:inline-block;
    width: 99.1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: repeating-linear-gradient(0deg, #17009c, #b7005b, #058900);
    vertical-align: middle;
    color: #fff200;
    height: 100%;
}

div#head-menu {
    display: inline-block;
    width: 98%;
    height: 8vh;
    border: 4px solid gray;
    margin-top: 4vh;
}

div#head-menu ul li {
    display: inline-block;
    list-style: none;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* Side Menu */
div#side-menu {
    display: block;
    float: left;
    text-align: left;
    width: 30vw;
    height: 60vh;
    border: 2px solid blue;
    margin-top: 4vh;
    padding: 0 0 0 0;
}

div#side-menu ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

div#side-menu ul li {
    list-style: none;
    background-color: transparent;
    width: auto;
    margin: 0 0 0 0;
    margin-top: 16px;
}

div#side-menu ul li:hover {
    background-color: pink;
}

div#side-menu ul li a {
    display: inline-block;
    width: 100%;
}

/* Content */
div#content {
    display: inline-block;
    width: 60vw;
    height: 60vh;
    border: 2px solid skyblue;
    text-align: left;
    overflow-x: auto;
    margin-top: 4vh;
    margin-left: 4vw;
}

/* Footer */
div#footer {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid brown;
    margin-top: 4vh;
}

div#footer p {
    color: gray;
}

.aBtn {
    cursor: pointer;
    text-decoration: underline;
}

img {
    -webkit-user-drag: none;
}